@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


@import url("https://fonts.googleapis.com/css?family=Roboto");

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}



.FoodCartButton.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    margin: 35px 25px;
    z-index: 5;

    .floating-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border: none;
        width: 70px;
        height: 70px;
        background: #676f74;
        bottom: 0;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        line-height: 65px;
        text-align: center;
        font-size: 23px;
        z-index: 100;
        box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        img {
            width: 60px;
        }
        &:hover {
        box-shadow: 0 10px 25px -5px rgba(44, 122, 240, 0.904);

        }
    }

    .down-transition {
        box-shadow: 0 10px 25px rgba(101, 104, 105, 0.6);
        -webkit-transform: translatey(85px);
        transform: translatey(85px);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    
}

@media (min-width:400px) and (min-width: 600px) {
    
}
@media (max-width: 400px) {
    .FoodCartButton.floating-container {
        left: 0;
        right: 50%;
    }
}