body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --min-screen: 600px
}


// border-radius: 123px 123px 171px 150px;
// -webkit-border-radius: 123px 123px 171px 150px;
// -moz-border-radius: 123px 123px 171px 150px;



// backdrop-filter: grayscale(1);
// backdrop-filter: brightness(0.5);
// backdrop-filter: contrast(1.5);
// backdrop-filter: invert(1.5);


//         background-color: #000000;
//         background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);